[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "drugDemand"]
	path = drugDemand
	url = https://github.com/kaifenglu/drugdemand
[submodule "eventPred"]
	path = eventPred
	url = https://github.com/kaifenglu/eventpred
[submodule "lrstat"]
	path = lrstat
	url = https://github.com/kaifenglu/lrstat
[submodule "tmvtnsim"]
	path = tmvtnsim
	url = https://github.com/cran/tmvtnsim
